.navbar{
	position: fixed;
	left: 30%;
	background-color: #050505;
    border-radius: 9999px;
	border-color: #FF474C;
	z-index: 99;
	line-height: 2rem;

	@media screen and (max-width: 768px){
		z-index: 99;
		background-color: #050505;
		border-radius: 0px;
		border-color: #050505;
	}
}
#navbar > ul {
	display: flex;
	/* Hacemos flex al ul */
	justify-content: center;
	/* centramos en el eje horizontal*/
	justify-content: space-evenly;
	/* Aplicamos separación a los elementos dentro del ul */
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;

	@media screen and (max-width: 768px){
		display: block;
	}
}
.collapse{
	display: block;
	
	@media screen and (max-width: 768px){
		display: none;
	}
}
#navbar > ul > li{
	padding: 18px;
}